@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
    --primary-color: #aaa0a0;
    --secondary-color: #474853;
    --accent-color: #86b3d1;

    --bio-font: 'Prompt', sans-serif;
    --nav-bar-font: 'Lexend Mega', sans-serif;
    --landing-page-font: 'Roboto', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

/* --------------------------HEADER------------------------ */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color:#3f3f49;
}

.header-container nav a{
  text-decoration: none;
  color: var(--accent-color);
  font-family: var(--nav-bar-font);
  font-size: 18px;
  margin: 0 15px;
  text-transform: uppercase;
  transition: linear .2s;
}

.header-container nav a:hover{
  color: white;
}

/* --------------------------LANDING PAGE------------------------ */

.landing-page-container {
  background-image: url('./images/marimba.jpg');
  background-position:center ;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #737488;
  color: white;
  height: 100vh;
  width: 100%;
}

.landing-page-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: var(--landing-page-font);
}

.landing-page-text h1 {
  font-weight: 300;
  font-size: 40px;
  margin: 10px 0;
  letter-spacing: 1.4px;
}

.landing-page-text h2 {
  font-weight: 100;
}

#landing-page-arrow {
  font-size: 40px;
  color: rgb(177, 174, 174);
  position: absolute;
  bottom: 10px;
}
/* --------------------------HOME CONTAINER------------------------ */

.home-container {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
}

.home-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.home-main-container img {
  width: 100%;
  height: 80%;
}

.home-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('./images/recital.jpg');
  background-size: cover;
  background-position: center center;
  background-color: rgb(84, 85, 99);
  background-blend-mode: multiply;
  height: 100%;
  width: 100%;
}

.home-main-text {
  display: flex;
  position: absolute;
  bottom: 20px;
}

.home-main-text p {
  font-family: var(--landing-page-font);
  font-weight: lighter;
  cursor: default ;
  margin: 10px 15px;
}


/* -------------------------ABOUT ME------------------------- */

.about-me-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./images/percussion.jpg');
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-color: #737488;
  
}

.about-me-title {
  text-align: center;
}

.about-me-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-content p{
  padding: 0 15px;
}
/* --------------------------LIMINAL SPACE------------------------ */

.liminal-space-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.liminal-space-content {
  font-size: 16px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.liminal-space-logo {
  background: radial-gradient(circle, rgb(146, 138, 138) 0%, rgba(0,0,0,1) 51%, rgba(0,0,0,1) 100%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#liminal-logo{
  width: 200px;
  margin: 15px 0 0;
}

#liminal-crew-img {
  width: 100%;
  padding: 5px 0 20px;
}
/* -------------------------CONTACT------------------------ */

.contact-container {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  background-image: url('./images/cactus.jpg');
  background-position: center;
  background-size: cover;
  background-color: #737488;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container h1 {
  position: absolute;
  top: 0;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 ;
}

.contact-info h3 {
  margin: 0 20px ;
  letter-spacing: .5px;
}

.contact-icon {
  font-size: 30px;
}

.contact-content h4 {
  position: absolute;
  bottom: 0;
  text-align: center
}
/* --------------------------FOOTER------------------------ */

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  background-color: black;
  width: 100%;
}

.footer-icon-container {
  display: flex;
  margin-bottom: 20px;
}

.footer-icon {
  margin: 0 15px;
  color: var(--accent-color);
  transition: linear .2s;
}

.footer-icon:hover {
  color: white;
  transform: scale(1.2)
}

/* --------------------------MEDIA QUERY------------------------ */

@media (min-width: 1024px) {
  .home-main-container img {
    width: 60%;
    height: 100%;
  }

  .about-me-container {
    flex-direction: row;
    background-image: linear-gradient(100deg, rgba(0,0,0,.5) 20%, rgba(0,0,0, 1) 50%, rgba(0,0,0,1) 100%), url('./images/percussion.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: left;
    background-color: #ffffff;
  }

  .about-me-title {
    width: 50%;
  }

  .about-me-content {
    width: 50%;
  }

  .liminal-space-container {
    flex-direction: row;
  }

  .liminal-space-content {
    width: 50%;
    order: 1;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .liminal-space-logo {
    order: 2;
    width: 50%;
    height: 100%;
  }

  #liminal-crew-img {
    display: none;
  }

  .contact-container h1 {
    top: 100px;
  }
}